@page "/counter"
@using Clever.Kindergarten.Data.DBServices
@using Data.Models
@inject DiseaseServices diseaseServices
<PageTitle>@model.Name</PageTitle>

<div class="myDiv">
    <h1>Counter \!!khkk</h1>
</div>


<p role="status" class="@Cls">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount" >Click me</button>


<br>

<br>
<input type="text" @bind-value="@(model.Name)" @bind-value:event="oninput">

<button onclick="@Enter">save</button>


@code {
    private int currentCount = 0;
    private string Cls = "koko";

    public void Enter()
    {
        
            diseaseServices.Add(new Disease(){Name = model.Name , Description = "D" , EatForbidden = "E"});
            Cls = "nono";
        
    }

    private void IncrementCount()
    {
        currentCount++;
    }


    DiseaseDOB model = new DiseaseDOB();



    private class DiseaseDOB
    {
        public int Id { get; set; }
        public string? Name { get; set; } 
        public string? Description { get; set; }
        public string? EatForbidden { get; set; }
    }
}
